<a href="https://colab.research.google.com/github/Tchuissi/601-Introduction-of-Data-Science/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-

In [2]:
import pandas as pd

In [8]:
xls=pd.ExcelFile("Liste des films ayant réalisé plus d'un million d'entrées.xlsx")
#Project_1

In [13]:

df_19 = pd.read_excel(xls, '2019')
df_18 = pd.read_excel(xls, '2018')
df_17 = pd.read_excel(xls, '2017')
df_16 = pd.read_excel(xls, '2016')
df_15 = pd.read_excel(xls, '2015')
df_14 = pd.read_excel(xls, '2014')
df_13 = pd.read_excel(xls, '2013')
df_12 = pd.read_excel(xls, '2012')
df_11 = pd.read_excel(xls, '2011')
df_10 = pd.read_excel(xls, '2010')
df_9 = pd.read_excel(xls, '2009')
df_8 = pd.read_excel(xls, '2008')
df_7 = pd.read_excel(xls, '2007')
df_6 = pd.read_excel(xls, '2006')
df_5 = pd.read_excel(xls, '2005')
df_4 = pd.read_excel(xls, '2004')
df_3 = pd.read_excel(xls, '2003')

In [35]:
l=[df_19, df_18, df_17, df_16, df_15, df_14, df_13, df_12, df_11, df_10, df_9, df_8, df_7,df_6, df_5, df_4, df_3 ]

for i in l:
  i=i[5:]
  #print(i)

- after cleaning all the dataframes, add a new column for the year
- assembly all the dataframes into one

In [37]:
df_16

                                           Unnamed: 0  ...          Unnamed: 4
0   Retour au menu "Films ayant réalisé plus d'un ...  ...                 NaN
1                                                 NaN  ...                 NaN
2                                                 NaN  ...                 NaN
3                                                2016  ...                 NaN
4                                                 NaN  ...                 NaN
5                                                rang  ...  entrées (millions)
6                                                   1  ...             4754973
7                                                   2  ...             4604904
8                                                   3  ...             4525149
9                                                   4  ...             3918856
10                                                  5  ...             3843618
11                                                  6  ...             3814720
12                                                  7  ...             3761903
13                                                  8  ...             3755283
14                                                  9  ...             3646088
15                                                 10  ...             3500331
16                                                 11  ...             3366753
17                                                 12  ...             3222806
18                                                 13  ...             3002807
19                                                 14  ...             2953541
20                                                 15  ...             2915343
21                                                 16  ...             2736205
22                                                 17  ...             2707153
23                                                 18  ...             2575717
24                                                 19  ...             2492210
25                                                 20  ...             2281084
26                                                 21  ...             2199638
27                                                 22  ...             2196249
28                                                 23  ...             2161008
29                                                 24  ...             2109392
30                                                 25  ...             2102703
31                                                 26  ...             2074996
32                                                 27  ...             1972097
33                                                 28  ...             1951055
34                                                 29  ...             1949761
35                                                 30  ...             1932768
36                                                 31  ...             1924147
37                                                 32  ...             1799219
38                                                 33  ...             1775995
39                                                 34  ...             1731822
40                                                 35  ...             1641241
41                                                 36  ...             1507093
42                                                 37  ...             1487907
43                                                 38  ...             1471943
44                                                 39  ...             1376034
45                                                 40  ...             1347933
46                                                 41  ...             1344874
47                                                 42  ...             1301661
48                                                 43  ...             1291364
49                                                 44  ...             1252681
50                                                 45  ...             1224730
51                                                 46  ...             1216923
52                                                 47  ...             1197087
53                                                 48  ...             1108213
54                                                 49  ...             1089364
55                                                 50  ...             1033960
56                                                 51  ...             1018071
57                                                 52  ...             1017326
58                                                 53  ...             1002794
59                                                NaN  ...                 NaN

[60 rows x 5 columns]